@import "reset.css";
@import "variables.css";

@import "components/status-bar-component.css";
@import "components/header-component.css";
@import "components/alt-header-component.css";
@import "components/user-component.css";
@import "components/nav-bar.css";

@import "screen/login.css";
@import "screen/friends.css";
@import "screen/chats.css";
@import "screen/find.css";
@import "screen/more.css";
@import "screen/settings.css";

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
body {
  display: flex;
  justify-content: center;

  background-color: #e5e0e0;
  color: var(--black);
  font-weight: 600;

  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
a i {
  cursor: pointer;
}
input[type="submit"] {
  cursor: pointer;
}
input[type="text"],
input[type="password"],
input[type="submit"],
input[type="submit"]:active {
  border: none;
  outline: none;
}
.screen {
  background-color: #f2e8ef;
  /* 미디어 쿼리로 변경 시 주석 해제
  /*width: 100%;*/
  width: 325px;
  height: 110vh;

  display: flex;
  flex-direction: column;
  align-content: center;
}
main {
  width: 100%;
  padding: 6px;

  display: flex;
  flex-direction: column;
  align-content: center;
}
