.friends-list {
  margin-top: 20px;
  font-size: 12px;
}
.neo-photo {
  background-image: url("https://raw.githubusercontent.com/Chaeri-Yoon/pinki-talk-2021/main/images/neo.jpg");
}
.tube-photo {
  background-image: url("https://raw.githubusercontent.com/Chaeri-Yoon/pinki-talk-2021/main/images/tube.jpg");
}
.lion-photo {
  background-image: url("https://raw.githubusercontent.com/Chaeri-Yoon/pinki-talk-2021/main/images/lion.jpg");
}
