.content__friends {
  margin-top: 10px;
  font-size: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.friends-names-display {
  width: 100%;
  padding: 12px 0;
  border-radius: 10px;
  background-color: var(--light-grey);

  display: flex;
  justify-content: center;
  align-items: center;
}
.friends-names-display *:nth-child(2) {
  margin: 0 4px;
}
.my-profile {
  margin-top: 6px;
  width: 100%;

  border-bottom: var(--pink-border-line);
}
.my-photo {
  background-image: url("https://raw.githubusercontent.com/Chaeri-Yoon/pinki-talk-2021/main/images/my-profile.jpg");
}
.friends-area {
  margin-top: 6px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.friends-area-channel {
  padding: 0 8px;
  margin-bottom: 15px;

  color: var(--grey);
  font-size: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
