.alt-component__header {
  width: 100%;
  position: fixed;
}
.alt-component__header > * {
  width: 33%;
}
.alt-component__header a i {
  font-size: 25px;
}
.alt-component__header > *:first-child {
  text-align: start;
}
.alt-component__header > *:nth-child(2) {
  text-align: center;
}
.alt-component__header > *:last-child {
  text-align: end;
}
.alt-component__header > *:last-child i:last-child {
  margin-left: 19px;
}
