#no-big-screen {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: var(--pink);

  display: flex;
  justify-content: center;
  align-items: center;
  font-style: 32px;
  top: 0;
}

@media (orientation: portrait) {
  #no-big-screen {
    display: none;
  }
}