.component__user {
  margin-bottom: 8px;
  padding: 0 14px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.component__user-column:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.component__user-photo {
  width: 40px;
  height: 40px;

  margin-right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.component__user-photo {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 30%;
  background-size: cover;
}
.large-component__user-photo {
  width: 50px;
  height: 50px;
}
.small-component__user-photo {
  width: 35px;
  height: 35px;

  background-color: var(--yellow);
}
.small-component__user-photo i {
  font-size: 20px;
}
.component__user-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.component__user-info > div:nth-child(2) {
  margin-top: 5px;
  font-size: 10px;
  color: var(--grey);
  font-weight: 400;
}
.component__user-info > div:nth-child(2) span {
  margin-right: 3px;
}
.component__user-info > div:nth-child(2) i {
  color: red;
}
.component__user-column:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  color: var(--grey);
}
.component__user-column:nth-child(2) div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.component__user-column:nth-child(2) div i {
  margin-left: 4px;
}
.component__user-info span:first-child,
.component__user-column:nth-child(2) > div:first-child span {
  margin-bottom: 5px;
}
.component__user-column:nth-child(2) > div:nth-child(2) {
  width: 14px;
  height: 14px;
  border-radius: 50%;

  background-color: var(--pink);
  font-size: 10px;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}
